html {
  background-color: var(--light-green-color);
}

.login-form-container{
  background-color: var(--light-green-color);
  height: 80vh;
  width: 100%;
  gap: 60px;
}

.login-form-wrapper{
  background-color: var(--white-color);
  padding: 20px 60px;
  border-radius: 10px;
  gap: 20px;
  padding-bottom: 40px;
}

.login-form{
  gap: 15px;
}

.login-input{
  padding: 15px;
  border: none;
  width: 250px;
  border-bottom: 1px solid var(--light-green-color);
  color: var(--black-color);
  &::placeholder{
      color: var(--light-gray-color);
  }
}

.sign-in{
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;

  transition: background-color 0.2s cubic-bezier(var(--light-green-color));
  vertical-align: middle;

  &:hover {
    background-color: var(--light-green-color);
    transition-duration: 0.1s;
  }

  &:focus {
    outline: 1px transparent;
  }
}

.login-coffee-quote {
  padding: 20px 60px;
  border-radius: 10px;
  gap: 20px;
  padding-bottom: 40px;
}

.login-coffee-quote-line {
  text-align: center;
}

.login-coffee-img {
  width: 200px;

  &:focus{
    animation: jump-shaking 1s;
    animation-iteration-count: 3;
  }

  &:hover{
    width: 210px;
  }

  &:active{
    -webkit-animation: none;
          animation: none;
  }
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}


.redirect-register {
  color: var(--black-color);
  margin-top: 10px;
  align-items: center;
}

.register-link {
  color: var(--brown-color);
  text-decoration: underline;
}