body {
  background-color: var(--light-green-color);
}

.home-title-container {
  width: 100%;
  padding: 10px;
  padding-top: 10rem;
  margin-bottom: 40px;
  gap: 20px;
  padding-bottom: 15rem;
  background: linear-gradient(rgba(221, 229, 182, 0.4), rgba(221, 229, 182, 0.4)), url("../../images/home_background.jpeg") center/cover no-repeat;
}

.hor-scroll-bar {
  position: relative;
  width: 100vw;
  height: 20rem;
  overflow-x: hidden;
}

/* .hor-scroll-elements {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
} */

.hor-scroll-element {
  padding: 50px;
  margin: 10px;
  background-color: var(--green-color);
  color: var(--white-color);
  align-items: center;
  border-radius: 10px;
}