.chat-messages{
  background-color: white;
  padding: 10px;
  height: 450px;
  overflow: scroll;
}

.message {
  display: flex;
  gap: 20px;
  /* flex-direction: row-reverse; */

  &.owner {
    flex-direction: row-reverse;

    .message-content {
      align-items: flex-end;
      p {
        background-color: #8da4f1;
        color: white;
        border-radius: 0px 15px 15px 15px;
      }
    }

    .message-text {
      border-radius: 15px 0px 15px 15px ;
    }
  }
}

.message-info{
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}

.message-content{
  max-width: 70%; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-text{
  background-color: #F1F5DF;
  padding: 10px 20px;
  border-radius: 0px 15px 15px 15px ;
}

.profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--light-green-color);
  object-fit: cover;
}

.message-file{
  width: 50%;
}